.navbar-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.search-bar {
  justify-self: center;
  width: 600px;
}

.nav-links {
  justify-self: end;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cart-count-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background: #ffc107;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  border: 1px solid #fff;
}
