img{
    height: 200px !important;
    width: 200px !important;
}
.product-card-body {
  text-align: center !important;
}
.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;       
  overflow: hidden;   
}
.card-header img {
  max-height: 100%;
  width: auto;
  object-fit: contain;
}
